<header class="header">
  <!-- ================================
       Application Logo
  ================================= -->
  <div class="header__logo">
    <i class="pi pi-building-columns"></i>

    <span> Banking Management System </span>
  </div>

  <!-- ================================
       Right Side Actions
  ================================= -->
  <div class="header__actions">
    <!-- Notification -->
    <button
      pButton
      type="button"
      icon="pi pi-bell"
      [text]="true"
      rounded
      class="header__notification"
    ></button>

    <!-- Logged In User -->
    <div class="header__profile">
      <div class="header__avatar">
        <i class="pi pi-user"></i>
      </div>

      <div class="header__user">
        <span class="header__name">
          {{ currentUser()?.fullName }}
        </span>

        <small class="header__role">
          {{ currentUser()?.role }}
        </small>
      </div>
    </div>

    <!-- Logout -->
    <button
      pButton
      type="button"
      icon="pi pi-sign-out"
      label="Logout"
      class="header__logout"
      (click)="logout()"
    ></button>
  </div>
</header>
