.dashboard {
  padding: 2rem;

  &__header {
    margin-bottom: 2rem;
  }

  &__statistics {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

    gap: 1.5rem;
  }
}
