<section class="transactions">
  <!-- ===========================================
       Header
  ============================================ -->

  <h3 class="transactions__title">Recent Transactions</h3>

  <!-- ===========================================
       Transactions Table
  ============================================ -->

  <p-table [value]="transactions()" responsiveLayout="scroll">
    <!-- Header -->

    <ng-template pTemplate="header">
      <tr>
        <th>Date</th>

        <th>Description</th>

        <th>Type</th>

        <th class="amount-column">Amount</th>
      </tr>
    </ng-template>

    <!-- Body -->

    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>
          {{ transaction.transactionDate }}
        </td>

        <td>
          {{ transaction.description }}
        </td>

        <td>
          <p-tag
            [value]="transaction.transactionType"
            [severity]="
              transaction.transactionType === transactionType.CREDIT
                ? 'success'
                : 'danger'
            "
          >
          </p-tag>
        </td>

        <td
          class="amount-column"
          [class.credit]="
            transaction.transactionType === transactionType.CREDIT
          "
          [class.debit]="transaction.transactionType === transactionType.DEBIT"
        >
          ₹{{ transaction.amount | number: "1.2-2" }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
